<div class="table">
  <div class="table__search">
    <div>Фильтруйте по brandName или name</div>
    <app-search (searchValue)="searchValue($event)"></app-search>
  </div>

  <table class="table__data">
    <tr>
      <th *ngFor="let th of tableTitles">
        {{ th }}
        <ng-container *ngIf="visibleSort(th)">
          <span (click)="sort(th, true)">↑</span>
          <span (click)="sort(th)">↓</span>
        </ng-container>
      </th>
    </tr>
    <ng-container *ngFor="let tr of currentTable; let i = index">
      <tr *ngIf="i >= pageRange.min && i < pageRange.max">
        <td *ngFor="let td of tr | keyvalue">{{ td.value }}</td>
      </tr>
    </ng-container>
  </table>

  <app-pagination
    *ngIf="currentTable.length > 5"
    [setPagination]="pagination"
    (goToPage)="goToPage($event)"
  ></app-pagination>
</div>
