@import "/src/app/styles/variables.scss";

.table {
  &__search {
    margin-bottom: 15px;
    text-align: center;

    & > div {
      margin-bottom: 5px;
    }
  }

  &__data {
    margin-bottom: 15px;
    border-collapse: collapse;

    th,
    td {
      padding: 5px;
      border: 1px solid $color-grey;

      span {
        margin-left: 5px;
        font-size: 20px;
        cursor: pointer;
      }
    }
  }
}
