@import "/src/app/styles/variables.scss";

.pagination {
  display: flex;
  justify-content: center;

  &__item {
    padding: 10px;
    border: 1px solid $color-grey;
    cursor: pointer;

    &--active {
      font-weight: 600;
    }
  }
}
